body{
    background-color: rgb(255, 199, 199);
    
    font: normal 16px 'Times New Roman', Times, serif;
}
.ava{
    width: 200px;
    margin-left: 50px;
}

.information{
    display: flex;
}

.info1{
    display: flex;
    margin-top: -3.0px;
}

.info2{
    margin-left: 20px;
}

.plakplak{
    width: 200px;
    border-radius: 50%;
    box-shadow: 10px 2px 15px rgba(0, 0, 0, 1);
    margin-left: 500px;
}

a{
    color:black;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
a:active{
    color: pink;
}

.notall{
    
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.foto{
    display: flex;
}

.all{
    max-width: 1800px;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;  
}

.zad_fon_red{
    background: rgba(101, 255, 229, 0.616);
}

.zad_fon_green{
    background: rgb(197, 110, 255);
}

.zad_fon_blue{
    background: rgb(114, 114, 255);
}

.zad_fon_yellow{
    background: rgb(255, 255, 114);
}

.spisok1{
    margin-top: -30px;
    padding: 0px 20px;
}

.spisok2{
    margin-top: -30px;
    padding: 0px 20px;
}

.hobbies{
    width: 200px;
    border-radius: 30%;
    box-shadow: 10px 2px 15px rgba(0, 0, 0, 1);
    margin-top: -70px;
    margin-left: 1180px;
}

.yaziki{
    width: 200px;
    border-radius: 30%;
    box-shadow: 10px 2px 15px rgba(0, 0, 0, 1);
    margin-top: -70px;
    margin-left: 1265px;
}

.spisok li{
    margin-bottom: -5px;
}

.table{
    margin-left: 60px;
}


.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 500px;
    margin-bottom: 15px;
}

.slider .item img {
    object-fit:scale-down;
    width: 100%;
    height: 500px;
    border: none !important;
    box-shadow: none !important;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}